@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url(../../fonts/raleway.extrabold.ttf);
  font-weight: 800;
}

:root {
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;
  --font-size-large: 1.5rem;
  --font-default: 300 var(--font-size-normal) Roboto;
  --font-accent: 800 var(--font-size-normal) Raleway;
}
